* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#login {
  text-align: center;
  padding-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.box {
  background-color: rgb(235, 240, 240);
  border: solid;
  height: 278px;
  width: 290px;
  border-radius: 10px;

}

form {

  padding-top: 18px;
  text-align: center;

}

#in {
  width: 220px;
  height: 28px;
}

input::placeholder {
  padding-left: 8px;
}

.remember {
  display: flex;
  padding-left: 33px;
  /* or space-between */
  gap: 8px;
  margin-top: 10px;
}

#me {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.remember label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}

button {
  text-align: center;
  width: 189px;
  height: 37px;
  color: white;
  background-color: rgb(64, 64, 237);
  border-radius: 8px;
}

#line {
  padding-left: 27px
}